:root {
  --border-icon-color: #15C1B5;
  --fill-icon-color: #ffffff;
}

/* editor selection  */
.meme-editor-page {
  width: 80vw;
  grid-column: 2/3;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.meme-editor-canvas {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CANVAS */
canvas {
  background-color: #fff;
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.actions-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap:10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  align-items: center;
}

.line-actions {
  display: flex;
  align-items: center; 
  margin-top: 10px;
  gap: 5px; 
}

.line-actions input#text-input {
  flex: 1; /* Make the input take up remaining space */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 0; /* Remove margin-bottom */
}

.action-style .btn {
  flex: 0 0 auto; /* Prevent buttons from stretching */
}


.action-style {
  display: flex;
  gap: 10px;
}

.color-button ,.font-button , .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: rgba(232, 230, 230, 0.841);
  border: 1px solid #ccc;
  border-radius: 5%;
  cursor: pointer;
  gap:5px;
  position: relative;
}


.color-button::before,
.font-button::before,
.font-button::after,
.btn::before {
  position: absolute;
  transform: translateY(-50%);
  font-family: 'FontAwesome';
}


.switch-line::before {
  content: '\f0dc'; /* Unicode for the desired icon */
  font-size: xx-large;
  left: 15px; 
  top: 50%;
  color: black;
}

.add-line::before {
  content: '+'; /* Unicode for the desired icon */
  font-size: x-large;
  left: 15px; 
  top: 50%;
  color: black;
}

.bigger-size::before {
  content: '\f031'; /* Unicode for the desired icon */
  font-size: x-large;
  left: 10px; 
  top: 55%;
  color: black;
}

.bigger-size::after {
  content: '+'; 
  font-size: large;
  left: 30px; 
  top: 55%;
  color: black;
}

.smaller-size::before {
  content: '\f031'; /* Unicode for the desired icon */
  font-size: x-large;
  left: 10px; 
  top: 55%;
  color: black;
}

.smaller-size::after {
  content: '-'; 
  font-size: xx-large;
  left: 30px; 
  top: 50%;
  color: black;
}

.border::before {
  content: '\f55d'; /* Unicode for the desired icon */
  font-size: x-large;
  left: 15px; 
  top: 50%;
  color: var(--border-icon-color);
}

.fill::before {
  content: '\f576'; /* Unicode for the desired icon */
  font-size: x-large;
  left: 15px; 
  top: 50%;
  color: var(--fill-icon-color);
}



.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  background-color: #28a745;
}

.download-btn::before {
  content: '\f019'; /* Unicode for fa-fill */
  font-family: 'FontAwesome';
  position: relative;
  left: -7px;
  bottom: -5px;
  transform: translateY(-50%);
  color: #ffffff;
}

.download-btn:hover {
  background-color: #247a38;
}
