/* gallery selection */

.filter-search-container {
  display: flex;
  justify-content: center;
  place-content: center;
  padding: clamp(0.5em, 1vw, 1em);
}

.meme-gallery-page,
.saved-meme-gallery-page {
  grid-column: 1/-1;
  grid-row: 3;
  max-width: clamp(800px, 80vw, 1250px);
}

.memes-gallery-container,
.saved-meme-gallery-container {
  display: grid;
  min-height: 80vh;
  min-height: 80dvh;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 20vw, 250px), 1fr));
  gap: clamp(0.5em, 1vw, 1em);
  padding-inline: clamp(1em, 2vw, 2em);
  align-items: center;
  justify-content: center;
}
