/* gallery selection */

.filter-search-container {
  display: flex;
  justify-content: center;
  place-content: center;
  padding: 10px;
}

.meme-gallery-page,
.saved-meme-gallery-page {
  grid-column: 1/-1;
  grid-row: 3;
}

.memes-gallery-container,
.saved-meme-gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
