/* heder and nav ber */
.main-header-container {
  padding-inline: 25px;
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color:var(--word-color);
}

.logo {
  /* later willbe logo */
  font-family: sans-serif;
  font-size: 2em;
  letter-spacing: 0.03em;
}

.main-header-container .main-nav a {
  display: flex;
  width: 130px;
  height: 130px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color:var(--word-color);
  text-decoration: none;
  font-size: 1.2em;
  margin-inline-end: 0;
}

.main-nav li:hover a {
  background-color: var(--event-color);
}



  


