/* MOBILE ONLY */

@media (max-width: 660px) {
  .main-header-container {
    width: 100%;
  }

  .nav-ber-container {
    margin: 0;
    padding: 0;
    list-style-type: none;

    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.6s, box-shadow 0.6s;
    background-color: lightslategrey;
    z-index: 100;
  }

  .main-nav a {
    height: clamp(60px, 10vw, 100px);
  }

  body.menu-open .nav-ber-container {
    display: flex;
    transform: translateX(0);
    box-shadow: -9px 0px 20px rgb(0 0 0 / 25%);
  }

  body.menu-open {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
  }

  .btn-toggle-menu {
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding: clamp(8px, 1.5vw, 10px);
    border: none;
    background-color: inherit;
    color: var(--primary-color);
  }

  .close-menu-btn {
    position: absolute;
    top: clamp(5px, 1vw, 10px);
    right: clamp(15px, 2vw, 20px);
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    padding: clamp(8px, 1.5vw, 10px);
    border: none;
    background-color: inherit;
    color: #d4d3d3;
  }

  .meme-editor-page {
    margin-inline: clamp(1em, 2vw, 2em);
  }
  
  .action-container {
    margin-inline-start: clamp(1em, 2vw, 2em);
  }

  article {
    margin: 0 auto;
  }

  footer {
    grid-row: 3;
  }
}

/* MEDIUM */
@media (min-width: 650px) {
  header,
  footer {
    max-height: 10vh;
    max-height: 10dvh;
  }

  .nav-ber-container {
    display: flex;
    position: static;
    height: auto;
    transform: none;
    box-shadow: none;
    z-index: 0;
  }

  .main-nav {
    display: flex;
  }

  .main-nav li {
    display: inline;
  }

  .filter-search-container {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .meme-gallery-page main {
    grid-column: 2 / -1;
    padding: 1.25em;
    margin: auto;
  }

  .meme-editor-page main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: clamp(1em, 2vw, 1.5em);
  }

  .editor-tools {
    flex: 1;
  }

  .meme-editor-canvas {
    flex-grow: 2; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: (15px, 2vw, 20px);
  }

  .btn-toggle-menu,
  .close-menu-btn {
    display: none;
  }
}
