@import url(./mq.css);
@import url(./header.css);
@import url(./gallery.css);
@import url(./editor.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY AND MAIN LAYOUT */
body {
  margin: 0;
  background-color:var(--primary-color);
  min-height: 100vh;
}

.main-layout {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  gap: 0.63;
}

img{
  width: 100%;
}

/* FORM */
.info-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  width: 400px;
  max-width: 90%;
  min-height: 30%;
  border: 1px solid lightgray;
  background:var(--box-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s, transform 0.5s;
}

.info-modal form {
  z-index: 20;
  margin: 0;
}

.info-modal title {
  text-transform: uppercase;
  font-size: 5em;
  margin-bottom: 1em;
  justify-items: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.2em;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* USER MSG */
.user-msg {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

.user-msg.open {
  opacity: 1;
}

/* FOOTER */
footer {
  grid-column: 1/-1;
  grid-row: 4;
  text-align: center;
  padding-block: 10px;
  background-color:var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.5em;
  align-self: flex-end;

}

/* HELPER */
li {
  display: inline;
}

.hidden {
  display: none;
}


