@import url(./mq.css);
@import url(./header.css);
@import url(./gallery.css);
@import url(./editor.css);

* {
  box-sizing: border-box;
}

/* BODY AND MAIN LAYOUT */
body {
  margin: 0;
  background-color: lightgray;
  min-height: 100vh;
}

.main-layout {
  display: grid;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: auto auto 1fr;
  gap: 10px;
}

img{
  width: 100%;
}


/* FOOTER */
footer {
  grid-column: 1/-1;
  grid-row: 4;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 1.5em;
}

/* HELPER */
li {
  display: inline;
}

.hidden {
  display: none;
}
