* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: lightgray;
}

/* heder and nav ber */
header {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

nav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 2em;
}

/* editor selection  */
.meme-editor-page {
  width: 70vw;
  height: 80vh;
}



canvas {
  background-color: #fff;
  border: 1px solid black;
}

.hidden {
  display: none;
}
